@{
    ViewBag.Title = "Paz & Bem";
} 

<div class="jumbotron">

    <h1>Deus Seja Louvado !!! </h1>

    <p > " Gloria Sejas Dada a Deus e a Sua Santissíma Misericórdia pelos Seculos, dos Seculos, Dos Seculos, Amém ! " </p>
</div>